body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.6;
    margin: 0;
}
main{
    flex: 1;
}
.display{
    flex:1;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    height: 120px;
    background-color: #B6AE9F;
}
.display{
    margin: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: 100vh;
    background-color: #FBF3D1;
    padding: 1rem;/*무슨의미인지 확인해 보자*/
    box-sizing: border-box;/*무슨의미인지 확인해 보자*/
}
.proj-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-content: center;
}
.proj-list li{
    position: relative;
    border: solid 1px #3f191a;
    border-radius: 8px;
    width: 350px;
    background: #E8D1C5;
    text-align: center;
    padding: 2rem;
    margin: 0;
}
.proj-list h3{
    color: green;
    font-size: 25px;
    font-weight: 600;
}
.proj-list p{
    color: coral;
    font-size: 1rem;
}
.link{
    color: gray;    
}
footer{
    flex-shrink: 0;
    font-size: 1rem;
    color: #888;
    padding: 1rem 0;
}

@media(min-width:768px){
    .proj-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:1.5rem;
        justify-content: center;
    }
    .proj-list li{
        width: 48%;
        margin: auto;

    }
}
@media(min-width:1024px){
    .proj-list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap:1.5rem;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .proj-list li{
        flex: 1;
        min-width:0;
        margin: 0;
    }
}