body{
    line-height: 1.6;
}
#wrap{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 100%;
    /* max-width: 1200px; */ /*전체화면해도 border가 생김*/
}
main{
    /* border: 1px solid blue; */
    margin-top: 60px;

}
header{
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(116, 194, 116, 0.363);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 60px;
    margin-left: 1rem;
}
nav{
    /* display: none; */
    display: block;
    background: green;
    opacity: 0.7;
    position: fixed;
    top:60px; /*logo 아래 내려오도록 되는*/
    width: 100%;
}

/* js이후에 추가
nav.is-open{
    display: block;
} */
 nav li{
    text-align: center;
    font-weight: 500;
    margin-bottom: 8px;
 }
 nav a{
    color: white;
 }
 .menu-toggle-btn{
    width:2rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
 }
 .menu-toggle-btn span{
    display: block;
    height: 2px;
    background: rgb(34, 88, 34);
    margin-bottom: 4.5px;
    margin-top: 4.5px;
 }
 .container{
    background: url(../images/forest.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 h2, p{
    display: block;
    font-size: 80px;
    font-weight: bold;
    align-items: center;
    color: white;
 }
 p{
    font-size: 50px;
 }

 /* 태블릿 최소 768px 이상일 때 적용 */
 @media (min-width:768px){
    .menu-toggle-btn{
        display: none;
    }
    nav{
        display: block;
    }
    nav ul{
        display: flex;
        position: absolute;
        top: 0;
        right: 2rem;      
    }
    nav li{
        margin-left: 1.5rem;
    };
    nav a{
        font-size: 0.95rem;
    }

 }