        .container{
            background-color: #E2E8CE;
            width: 100%;
            min-height: 100vh;
        }
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            height: 120px;
            background-color: #B6AE9F;
            }
        .intr-wrap{
            display: flex;
            margin-top: 120px;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
        ul{
            display: flex;
            margin: 0 auto;
        }
        .intr-list .box{
            width:300px;
            height: 300px;
            background: #452829;
            background: linear-gradient(45deg,#452829, #B6AE9F);
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box{
            color: #B6AE9F;
            font-size: 20px;
    
        }

        .intr-list li{
            list-style: none;/*li tag에서 항상 표시되는 점을 삭제해준다*/
            padding: 0;
            margin: 10px;/*옆에 있는 다른 이미지와 붙지 않도록*/
            position: relative;/*✅부모요소에 해주면 position: absolute는 자식요소에 준다*/
        }
        .intr-list .caption{
            background-color: rgba(39, 33, 33, 0.301);/*투명도 주기*/
            width: 300px;
            height: 280px;
            opacity: 0;
            /* 화면에 보이지 않게 */
            transition: all 0.6s;/*변화되는 요소를 부드럽게 나타나도록 transition 추가*/
            z-index: 10;/*다른 요소보다 위로 올라오게, 수치를 높일 수록 위로 올라감*/
            padding-top: 20px;
            position:absolute;/*✅자식요소에 해준다*/
            top: 200px;
            color: #FBF3D1;
            font-size: larger;
        }
        .caption{
            color: aliceblue;
            text-align: center;
        }
        .intr-list li:hover .caption{
            opacity: 1;
            /*마우스를 가져다 대면 화면에 보이게*/
            transform: translateY(-200px);
        }
        @media(max-width:768px){
            ul{
                flex-direction: column;
                flex-wrap: wrap;
            }
        }