        .container{
            background-color: palegoldenrod;
            border: solid 1px lightgray;
            width: 100%;
            height: 100vh;
        }
        .title{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        .intr-wrap{
            display: flex;
            justify-content: space-around;
        }
        ul{
            display: flex;
        }
        .intr-list img{
            width: 300px;
            opacity: 0.5;
        }
        .intr-list li{
            list-style: none;/*li tag에서 항상 표시되는 점을 삭제해준다*/
            padding: 0;
            margin: 10px;/*옆에 있는 다른 이미지와 붙지 않도록*/
            position: relative;/*✅부모요소에 해주면 position: absolute는 자식요소에 준다*/
        }
        .intr-list .caption{
            background-color: rgba(39, 33, 33, 0.301);/*투명도 주기*/
            width: 300px;
            height: 280px;
            opacity: 0;
            /* 화면에 보이지 않게 */
            transition: all 0.6s;/*변화되는 요소를 부드럽게 나타나도록 transition 추가*/
            z-index: 10;/*다른 요소보다 위로 올라오게, 수치를 높일 수록 위로 올라감*/
            padding-top: 20px;
            position:absolute;/*✅자식요소에 해준다*/
            top: 200px;
            color: rgb(9, 48, 9);
            font-size: larger;
        }
        .caption{
            color: aliceblue;
            text-align: center;
        }
        .intr-list li:hover .caption{
            opacity: 1;
            /*마우스를 가져다 대면 화면에 보이게*/
            transform: translateY(-200px);
        }
        @media(max-width:768px){
            ul{
                flex-direction: column;
                flex-wrap: wrap;
            }
        }