*{
    margin: 0;
    padding: 0;
}
/* 헤더부분시작 */
header{
    height: 70px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav a{
    padding: 15px;
}
a:hover{
    color: #01a1dd;
    background-color: aliceblue;
}
.logo{
    margin-left: 30px;
}
.logo img{
    width: 60px;
}
/* 메인부분시작 */
main{
    background-image: url(https://images.unsplash.com/photo-1541167760496-1628856ab772?q=80&w=1037&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 30px;
}
.ment1{
    position: relative;
    top: 450px;
    left: 45px;
    font-size: 3em;
    /* 부모에서 다른 사이즈를 주었으면 비율이 달라질 수 있음 기본이 16px은 1em */
    color: rgb(46, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
}

button{
    position: relative;
    top: 500px;
    left: 45px;
    background-color: #01a1dd;
    border: 0;
    padding: 5px 24px; /* 안쪽여백 */
    font-weight: 500; /* 글자두께 */
    cursor: pointer;
}

/* 푸터부분시작 */
footer{
    color: gray;
    font-weight: 600; 
    letter-spacing: 1.5px;
    font-size: 14px;
    padding: 10px 50px
}
footer a img{
    width: 20px;
}
.fa-brands{
    font-size: 30px;

}


